{
    "extends": [
        "react-app"
    ],
    "plugins": [
        "react-hooks",
        "@typescript-eslint"
    ],
    "rules": {
        "import/no-anonymous-default-export": "off",
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx",
                    ".ts",
                    ".tsx"
                ]
            }
        ],
        "react-hooks/rules-of-hooks": "off"
    }
}
