@import "../node_modules/bulma/css/bulma.min.css";

.app {
  display: flex;
  align-items: center;
  margin: auto;
  width: 400px;
  height: 100vh;
}

.app > .box {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 400px;
}

.app > .box > .actions {
  margin-top: auto;
}
